.app {
  display: flex;
  flex-direction: row;
  flex: 0 1 auto;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
  justify-content: center;
}

html, body, .app {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica-light, Arial, Sans-Serif;
}

.app {
  background-color: #89cccc;
  color: #003e3e;
  padding: 15px;
}

.homepage, .post-detail {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  flex-wrap: nowrap;
  width: 600px;
  max-width: 100%;
}

a {
  color: #124848;
  text-decoration: none;
}

a:hover {
  color: #d0ffff;
}

.notification {
  height: 18px;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 3px;
  color: #eee;
  border: 1px solid #eee;
  text-align: center;
}

.notification:empty {
  border-color: transparent;
}
